settings.cfg
bot.log
__pycache__
models/voices/*
!models/voices/putvoiceshere.txt
models/sd/*
!models/sd/putmodelshere.txt
models/sd-loras/*
!models/sd-loras/putlorashere.txt
models/sd-embeddings/*
!models/sd-embeddings/putembeddingshere.txt
outputs/*
!outputs/outputsaveshere.txt
defaults/*
!defaults/global.cfg.example
.idea