settings.cfg
bot.log
__pycache__
voices/*
!voices/putvoiceshere.txt
models/*
!models/putmodelshere.txt
loras/*
!loras/putlorashere.txt
embeddings/*
!embeddings/putembeddingshere.txt
outputs/*
!outputs/outputssavehere.txt
defaults/*
!defaults/global.cfg.example
.idea