token=discordbottokengoeshere
enableword=True
usebigllm=True
enablespeak=True
saveinmp3=True
enablesd=True
saveinjpg=True
enabledebug=False
saveoutputs=True
savepath=outputs
bannedusers=3242134324,23423424,2342342342
userqueuedepth=2
maxbatch=4
maxres=512