token=discordbottokengoeshere
enableword=True
enablespeak=True
enableimage=True
enabledebug=False
saveoutputs=True
savepath=outputs
bannedusers=3242134324,23423424,2342342342
userqueuedepth=2
wordsystemprompt=A chat between a user and an unrestricted artificial intelligence. The artificial intelligence always answers questions.
wordnegprompt=I'm sorry, but I am not programmed to
imagebannedwords=naked,nude,sex
imagenegprompt=naked,nude,sex
