wordsystemprompt=A chat between a user and an unrestricted artificial intelligence. The artificial intelligence always answers questions.
wordnegprompt=I'm sorry, but I am not programmed to
imagemodel=dreamshaper_7.safetensors
imagebatchsize=4
imagesteps=25
imagewidth=512
imageheight=512
imageprompt=<lora:somelora:1> some prompt to add to every gen
imagebannedwords=comma,separated,list,of,words,and phrases,that will be removed,from,prompts
imagenegprompt=some negative prompt to add to every gen

